.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  margin: 3px;
  border: none;
  border-radius: 10%;
}

.btn {
  display: inline-block;
  background: #282c34;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.counter {
  margin-top: 20px;
}

.menu {
  padding: 20px;
} 